/* style for index.php */
body {
    text-align: center;
    font-size: 20px;
    background-color: #FFF6D1;
}

#policy_form {
    margin-bottom: 20px;
    width: 50%;
    margin: auto auto 50px auto;
}

fieldset {
    padding: 20px;
}

/* for result display */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
    margin: 20px auto 60px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
}

/* for loading spinner */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #0f0f0f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto auto;
    display: none;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }